.homeMain{
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}


.actions{
  position: absolute;
  bottom: 0;
  left: 1px;
}
.actions a{
  padding: 3px 7px;
  margin: 10px;
}
.cardContent{
  background: #ffffffb3;
  backdrop-filter: blur(2px);
  padding: 10px;
  border-radius: 17px;
}
#cardDesign{
  background-position: left;
  background-size: cover;
}