<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <form method="post" style="padding: 12px; border: 1px solid black; border-radius: 12px;text-align: center;" id="imageUpload" action="uploadImage">
        <h3 >Upload Image</h3>
        <input type="text" placeholder="image name"><br><br>
        <input type="file" placeholder="Select Image"><br><br>
        <input type="submit">
    </form>
</body>
</html>